.itemlist-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemlist{
    
    width: 350px;
    height: 450px;
    border: 1px solid black; 
    border-radius: 10px;
    margin: 10px;
    font-size: 24px;

}
.details-button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    }
    
    .details-button:hover {
        background-color: #1976d2;
    }
    